<% if (site.posts.length) { %>
    <div class="widget-wrap widget-list">
        <h3 class="widget-title"><%= __('sidebar.communication') %></h3>
        <div class="widget">
            <!--这里添加你要写的内容-->
            kurisute.xie@gmail.com
        </div>
    </div>
<% } %>
